In [ ]:
#1.Identify Customers with High Purchase Frequency
import pandas as pd

data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

df = pd.DataFrame(data)


Task:
Group customers by Customer_ID and count the number of purchases per customer.

Identify the top 3 customers with the highest number of purchases.

Expected Output:
    Customer Purchase Frequency:
   Customer_ID  Purchase_Count
0         101               3
1         102               3
2         103               2
3         104               1
4         105               1

Top 3 Frequent Customers:
   Customer_ID  Purchase_Count
0         101               3
1         102               3
2         103               2

#### ANSWER #1

In [1]:
import pandas as pd

data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

df = pd.DataFrame(data)

numof_purchase = df.groupby('Customer_ID')['Purchase_Amount'].count().reset_index(name='Purchase_Count')
print("Customer Purchase Frequency:")
print(numof_purchase)


top_freq_customers = numof_purchase.sort_values(by = 'Purchase_Count', ascending=False).head(3)
print("Top 3 Frequent Customers:")
print(top_freq_customers)

Customer Purchase Frequency:
   Customer_ID  Purchase_Count
0          101               3
1          102               3
2          103               2
3          104               1
4          105               1
Top 3 Frequent Customers:
   Customer_ID  Purchase_Count
0          101               3
1          102               3
2          103               2

In [ ]:
#2. Find Students with the Highest Average Exam Scores
import pandas as pd

data = {'Student_ID': [201, 202, 203, 201, 204, 202, 201, 205, 202, 203],
        'Exam_Score': [85, 90, 78, 88, 92, 87, 80, 95, 89, 84]}

df = pd.DataFrame(data)

Task:
Calculate the average exam score per student.

Display the top 3 students with the highest average scores.

Expected Output:

Average Exam Scores per Student:
   Student_ID  Avg_Score
0        201   84.33
1        202   88.67
2        203   81.00
3        204   92.00
4        205   95.00

Top 3 Students:
   Student_ID  Avg_Score
0        205   95.00
1        204   92.00
2        202   88.67

#### Answer #2

In [3]:
data = {'Student_ID': [201, 202, 203, 201, 204, 202, 201, 205, 202, 203],
        'Exam_Score': [85, 90, 78, 88, 92, 87, 80, 95, 89, 84]}

df = pd.DataFrame(data)

avg_score = df.groupby('Student_ID')['Exam_Score'].mean().reset_index()
avg_score.rename(columns={'Exam_Score': 'Avg_Score'}, inplace=True)

print("Average Exam Scores per Student:")
print(avg_score)

top_students = avg_score.sort_values(by='Avg_Score',ascending=False).head(3)

print("Top 3 Students:")
print(top_students)

Average Exam Scores per Student:
   Student_ID  Avg_Score
0         201  84.333333
1         202  88.666667
2         203  81.000000
3         204  92.000000
4         205  95.000000
Top 3 Students:
   Student_ID  Avg_Score
4         205  95.000000
3         204  92.000000
1         202  88.666667

In [ ]:
3. Predict House Prices Using Linear Regression
Dataset:

import pandas as pd

data = {'Size_sqft': [1500, 1800, 2400, 3000, 3500, 4000],
        'Price': [300000, 350000, 450000, 550000, 650000, 700000]}

df = pd.DataFrame(data)
Task:
Train a Linear Regression model to predict house prices based on Size_sqft.

Predict the price of a house of size 2800 sqft.

Expected Output:
Predicted Price for 2800 sqft: $516491

#### ANSWER #3

In [5]:
from sklearn.linear_model import LinearRegression

data = {'Size_sqft': [1500, 1800, 2400, 3000, 3500, 4000],
        'Price': [300000, 350000, 450000, 550000, 650000, 700000]}

df = pd.DataFrame(data)

#Split train and test set
x_train = df[['Size_sqft']]
y_train = df['Price']

#model Creation

model = LinearRegression()
model.fit(x_train,y_train)

test_data = [[2800]]
prediction = model.predict(test_data)
print(f"Predicted Price for {test_data[0][0]} sqft: ${int(prediction[0])}")

Predicted Price for 2800 sqft: $516491

C:\Anaconda\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
4. Identify the Most Commonly Purchased Products
dataset:
import pandas as pd

data = {'Product_ID': ['P101', 'P102', 'P103', 'P101', 'P104', 'P102', 'P101', 'P105', 'P102', 'P103'],
        'Purchase_Count': [5, 3, 4, 2, 1, 6, 7, 3, 2, 5]}

df = pd.DataFrame(data)
Task:
Group products by Product_ID and sum their Purchase_Count.

Identify the top 3 most purchased products.

Expected Output:

Product Purchase Counts:
   Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9
3       P104                1
4       P105                3

Top 3 Purchased Products:
   Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9

#### ANSWER #4

In [7]:
data = {'Product_ID': ['P101', 'P102', 'P103', 'P101', 'P104', 'P102', 'P101', 'P105', 'P102', 'P103'],
        'Purchase_Count': [5, 3, 4, 2, 1, 6, 7, 3, 2, 5]}

df = pd.DataFrame(data)

purchase_count = df.groupby('Product_ID')['Purchase_Count'].sum().reset_index()
purchase_count.rename(columns={'Purchase_Count':'Total_Purchases'},inplace=True)

print("Product Purchase Counts:")
print(purchase_count)

top_purchase= purchase_count.sort_values(by='Total_Purchases',ascending=False).head(3)
print("Top 3 Purchased Products:")
print(top_purchase)

Product Purchase Counts:
  Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9
3       P104                1
4       P105                3
Top 3 Purchased Products:
  Product_ID  Total_Purchases
0       P101               14
1       P102               11
2       P103                9

In [ ]:
5. Cluster Customers Based on Their Purchase Amounts
Dataset:
import pandas as pd

data = {'Customer_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        'Total_Spend': [500, 1500, 2000, 2500, 3000, 3500, 4000, 1000, 1200, 2700]}

df = pd.DataFrame(data)

Task:
Apply K-Means Clustering to segment customers into 3 clusters.

Print the cluster labels for each customer.

Expected Output:
Customer Clusters:
   Customer_ID  Total_Spend  Cluster_Label
0            1          500              1
1            2         1500              1
2            3         2000              2
3            4         2500              2
4            5         3000              2
5            6         3500              0
6            7         4000              0
7            8         1000              1
8            9         1200              1
9           10         2700              2

#### ANSWER #5

In [9]:
from sklearn.cluster import KMeans

data = {'Customer_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        'Total_Spend': [500, 1500, 2000, 2500, 3000, 3500, 4000, 1000, 1200, 2700]}

df = pd.DataFrame(data)

kmeans = KMeans(n_clusters=3, random_state=42, n_init=10)
df['Cluster_Label'] = kmeans.fit_predict(df[['Total_Spend']])

print("Customer Clusters:")
print(df)

Customer Clusters:
   Customer_ID  Total_Spend  Cluster_Label
0            1          500              0
1            2         1500              0
2            3         2000              2
3            4         2500              2
4            5         3000              2
5            6         3500              1
6            7         4000              1
7            8         1000              0
8            9         1200              0
9           10         2700              2

C:\Anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(