In [ ]:
#1.
Question 1:A retail store wants to identify customers who make frequent purchases. Given the dataset below, write a Python program to:
Group customers by their IDs.


Calculate the total purchase amount per customer.


Identify the top 3 customers with the highest purchase amounts.


Dataset:
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

Expected Output:
Total Purchases per Customer:
   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400

Top 3 Frequent Customers:
   Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480

#### ANSWER #1

In [2]:
import pandas as pd

data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

df =pd.DataFrame(data)

# Grouping by Customer_ID and calculating total purchases
total_purchases = df.groupby('Customer_ID')['Purchase_Amount'].sum().reset_index()

#Fetch Top 3 customers
top_customers = total_purchases.sort_values(by = 'Purchase_Amount', ascending=False).head(3)

print("Total Purchases per Customer:")
print(total_purchases)

print("Top 3 Frequent Customers:")
print(top_customers)

Total Purchases per Customer:
   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400
Top 3 Frequent Customers:
   Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480

In [ ]:
#2. Predicting House Prices with Linear Regression
A real estate company wants to predict house prices based on square footage. Write a Python program to:
Train a Linear Regression model.


Predict house prices for given test data.


Dataset:
data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}

Test Data: [[1800], [2800]]
Expected Output:
Predicted Prices:
[360000. 560000.]

#### ANSWER #2

In [5]:
from sklearn.linear_model import LinearRegression

data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}
df = pd.DataFrame(data)

#train test split
x_train = df[['Square_Feet']]
y_train = df['Price']

#create model
model =LinearRegression()
model.fit(x_train,y_train)

# Prediction for test data
test_data = [[1800], [2800]]
predictions = model.predict(test_data)

print("Predicted Prices:")
print(predictions)

Predicted Prices:
[360000. 560000.]

C:\Anaconda\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [7]:
x_train

   Square_Feet
0         1500
1         2000
2         2500
3         3000
4         3500

In [ ]:
#3:
Identifying Frequent Labels in a Dataset
A company wants to identify the top 3 most common categories in a dataset. Given the dataset below, write a Python program to:
Group the data by Category.


Count the total occurrences of each category.


Identify the top 3 most frequent categories.


Dataset:
data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}

Expected Output:

Total Occurrences per Category:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

Top 3 Frequent Categories:
  Category  Count
0        A      4
1        B      3
2        C      3

#### ANSWER #3

In [10]:
data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}

df=pd.DataFrame(data)

total_occurance = df.groupby('Category').size().reset_index(name='Count')

Top_categories = total_occurance.sort_values(by="Count", ascending=False).head(3)

print("Total Occurrences per Category:")
print(total_occurance)

print("Top 3 Frequent Categories:")
print(Top_categories)

Total Occurrences per Category:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1
Top 3 Frequent Categories:
  Category  Count
0        A      4
1        B      3
2        C      3

In [12]:
total_occurance

  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

In [ ]:
#4.
Predicting Missing Values Using Mean Imputation
A dataset contains missing values in the Age column. Write a Python program to:
Replace missing values with the mean of the column.


Display the updated DataFrame.


Dataset:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}

Expected Output:

Original Data:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie   NaN
3  David  35.0
4    Eve   NaN

Data after Imputation:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie  30.0
3  David  35.0
4    Eve  30.0

#### ANSWER #4

In [15]:

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

df['Age'].fillna(df['Age'].mean(), inplace=True)

print("\n Data after Imputation:")
print(df)

Original Data:
      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie   NaN
3    David  35.0
4      Eve   NaN

 Data after Imputation:
      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  30.0
3    David  35.0
4      Eve  30.0

C:\Users\admin\AppData\Local\Temp\ipykernel_28432\3425974675.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

In [ ]:
# 5: 
Implementing a Simple Linear Regression Model
You are given a dataset with Experience (years) and Salary ($). Write a Python program to:
Train a Linear Regression model.


Predict the salary for an individual with 6 years of experience.


Dataset:
import pandas as pd

data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}
df = pd.DataFrame(data)

Expected Output (Example):

Predicted Salary for 6 years of experience: $55000



#6 :
data = {'word_count': [100, 150, 200, 120, 180, 220], 
        'is_spam': ['ham', 'spam', 'spam', 'ham', 'spam', 'spam']}
df = pd.DataFrame(data)

Expected Output (Example):
Prediction for email with 200 words: Spam

#### ANSWER #5

In [18]:
import pandas as pd

data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}
df = pd.DataFrame(data)

x_train = df[['Experience']]
y_train = df['Salary']

model = LinearRegression()
model.fit(x_train,y_train)

predicted_salary = model.predict([[6]])
print(f"Predicted Salary for 6 years of experience: ${predicted_salary[0]}")

Predicted Salary for 6 years of experience: $55000.0

C:\Anaconda\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

#### Answer #6

In [26]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression

#Data collection
data = {'word_count': [100, 150, 200, 120, 180, 220], 
        'is_spam': ['ham', 'spam', 'spam', 'ham', 'spam', 'spam']}
df = pd.DataFrame(data)

#Data preprocessing
encoder = OneHotEncoder()
encoded = encoder.fit_transform(df['is_spam'].values.reshape(-1,1))

#Test and train data split
x_train = df[['word_count']]
y_train = df['is_spam']

#Model creation
model = LogisticRegression()
model.fit(x_train,y_train)

#prediction
test_data = [[200]]
prediction = model.predict(test_data)

print(f"Prediction for email with {test_data[0][0]} words: {prediction[0]}")

Prediction for email with 200 words: spam

C:\Anaconda\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(